html,
body {
  height: 100%;
  background-color: #f7f7f7;
  margin: 0%;
  scroll-behavior: smooth;
}

.hero {
  height: 100vh;
  background-image: url(/assets/negative-space-black-forest-dawn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  color: white;
}

header {
  height: 1fr;
  background-color: rgba(255, 255, 255, 0.1);
  /* Hamburger */
  /* Menu */
}
header a {
  color: #fff;
  text-decoration: none;
}
header .p-menu1 {
  height: 100%;
}
header .hamburger1 {
  height: 45px;
  margin-right: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: right;
  z-index: 120;
}
header .hamburger1 div {
  background-color: white;
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header #toggle1 {
  display: none;
}
header #toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
}
header #toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}
header #toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}
header #toggle1:checked ~ .menu1 {
  height: 120px;
}
header #toggle1:checked ~ .herotext {
  margin-top: 300px;
}
header .menu1 {
  width: 100%;
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 3px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .menu1 .link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

.menu2 {
  visibility: hidden;
}

.herotext {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.herotext h2,
.herotext p {
  position: relative;
}
.herotext .button-container-top {
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
  height: 100%;
  margin-bottom: 50px;
}
.herotext .button-container-top button {
  border: 0;
  background: transparent;
  height: 25px;
  position: static;
}
.herotext .button-container-top button img {
  height: 100%;
  filter: invert(100%);
}

.team-text {
  display: flex;
  justify-content: center;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}
.team .button-container-bottom {
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
  height: 100%;
  margin-bottom: -50px;
}
.team .button-container-bottom button {
  border: 0;
  background: transparent;
  height: 25px;
  position: absolute;
}
.team .button-container-bottom button img {
  height: 100%;
}

.personal {
  height: 10%;
  width: 75%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.personal .team-info {
  display: flex;
  justify-content: center;
  position: relative;
  width: 75%;
}
.personal .team-info p {
  background-color: #e4e4e4;
  padding: 30px;
  border-radius: 5%;
}
.personal .team-info p i {
  margin-right: 5px;
}
.personal .image-container {
  height: 250px;
  margin-top: 60px;
}
.personal .image-container img {
  height: 100%;
  border-radius: 50%;
  box-shadow: #a5a5a5 0px 0px 20px;
}
.personal .personal-name {
  display: flex;
  justify-content: center;
  position: absolute;
}
.personal .personal-name h4 {
  position: relative;
}

footer {
  height: 325px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
}
footer .footer-wrapper ul {
  position: relative;
}
footer .footer-wrapper ul li {
  list-style-type: none;
  margin-top: 10px;
}
footer .footer-wrapper .image-container-footer {
  height: 17px;
  display: flex;
  float: left;
}
footer .footer-wrapper .image-container-footer img {
  height: 100%;
  margin-right: 10px;
  filter: invert(100%);
}

@media screen and (min-width: 768px) {
  .hamburger1,
#navbar {
    visibility: hidden;
    height: 0px;
  }

  header {
    height: 63px;
  }

  .menu1 {
    overflow: unset;
  }

  .menu2 {
    visibility: visible;
    padding: 5px;
    margin-top: -47px;
    float: right;
  }
  .menu2 a {
    margin-left: 25px;
  }

  .hero {
    background-size: cover;
  }

  .team {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .personal {
    width: 35%;
  }

  footer {
    height: 200px;
  }
  footer .footer-wrapper {
    flex-direction: row;
  }
  footer .footer-wrapper ul {
    position: relative;
    margin-right: 45px;
  }
  footer .footer-wrapper ul li {
    list-style-type: none;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
